body {
    background-color: #2e2e2e; /* Dark grey color */
    color: white; /* Ensures text is readable */
    font-family: Arial, sans-serif; /* Sets a clean font */
}

a {
    color: #87CEFA;
}

.content {
    padding: 15px;
}

#linkDiv {
    display: none;
    margin: 5px;
}

#link {
    font-size: large;
    font-weight: bold;
}
